.App-home-page {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: initial;
}

.App-home-container {
    background-color: white;
    padding-top: 70px;
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
}

.list-group-movie-item {
    border: 0ch;
}
