.Login-App {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-login {
  padding: 15px;
  box-shadow: 0px 3px 10px black;
  background-color: whitesmoke;
}

.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

html {
  min-height: 100%;
}

body {
  background-color: rgb(255, 94, 94);
}